$primary: #2f4983;
$warning: #fbba32;
$danger: #e41a4a;
$secondary: #2aba93;
$headerColor: #d49b20;
$tableHeadColor: #9debd6;

// selected-sidebar color
$selected-sidebar: #e8efff;

$container-bg-color: #f8f8f8;
