@import "../../theme/colorsConfig.scss";

.forgot-password-page {
  .logo {
    position: absolute;
    padding: clamp(20px, 9.5vw, 46px);
    width: clamp(100px, 38.5vw, 250px);
    padding-bottom: 0;
  }
  .login-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 25% 0px;
    img {
      width: clamp(50px, 20%, 120px);
    }
  }
  .label {
    color: #3d3d3d;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .authHeading {
    font-size: clamp(25px, 2.5vw, 35px);
    font-weight: 600;
    color: #3d3d3d;
    font-family: "Quicksand", sans-serif !important;
  }
  .tag-line {
    margin-top: 20px;
    color: #3d3d3d;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 600;
  }
  .MuiFormHelperText-root {
    margin-left: 0px;
    margin-top: 8px;
  }
  .green-btn {
    font-family: "Quicksand", sans-serif !important;
    background-color: #1ebf73;
    text-transform: none;
    width: 50%;
    margin-top: 20px;
    padding: 10px 0;
    font-weight: 600;
    font-size: 18px;
  }
  .green-btn:hover {
    background-color: #35bb7d;
  }
  .otp-input {
    font-family: "Quicksand", sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.56);
    border-radius: 50%;
    border: 1px solid rgba(112, 112, 112, 0.3);
    margin-right: 20px;
    height: clamp(45px, 5vw, 60px);
    width: clamp(46px, 5vw, 61px) !important;
  }
  .MuiLoadingButton-loadingIndicator {
    color: #fff !important;
  }
  .input-error {
    color: #d32f2f;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.66 !important;
    letter-spacing: 0.03333em !important;
    text-align: left !important;
    margin-top: 3px !important;
    margin-right: 14px !important;
    margin-bottom: 0 !important;
    margin-left: 14px !important;
  }
  .resend {
    font-weight: 500;
    text-transform: none;
    font-family: "Quicksand", sans-serif !important;
    span {
      font-family: "Quicksand", sans-serif !important;
      text-transform: none;
      padding: 0;
      color: #1ebf73;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .logoTitle:hover {
    color: black;
  }
  @media (max-width: 900px) {
    .green-btn {
      padding: 8px 0;
      font-size: 15px;
    }
    .icons {
      margin-left: 0.7rem;
      margin-right: 0.7rem;
    }
    .MuiFormHelperText-root {
      margin-top: 14px;
    }
  }
}
